<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/public/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
  <div class="main">
    <div class="header">
      <a href="/">
        <img src="/public/img/logo3.png" alt="">
      </a>
      <h1>用戶登錄</h1>
    </div>
    <form id="login_form">
      <div class="form-group">
        <label for="">郵箱</label>
        <input type="email" class="form-control" id="" name="email" placeholder="Email" autofocus>
      </div>
      <div class="form-group">
        <label for="">密碼</label>
        <a class="pull-right" href="">忘記密碼？ </a>
        <input type="password" class="form-control" id="" name="password" placeholder="Password">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox">記住我
        </label>
      </div>
      <button type="submit" class="btn btn-success btn-block">登錄</button>
    </form>
    <div class="message">
      <p>沒有賬號? <a href="/register">點擊創建</a>.</p>
    </div>
  </div>
  <script src="/public/jquery/dist/jquery.js"></script>
  <script>
    $('#login_form').on('submit', function (e) {
      e.preventDefault()
      var formData = $(this).serialize()
      console.log(formData)
      $.ajax({
        url: '/login',
        type: 'post',
        data: formData,
        dataType: 'json',
        success: function (data) {
          var errorCode = data.errorCode
          var errorMessage = data.errorMessage
          if(errorCode){
            window.alert(errorMessage)
          }
          if (errorCode === 'FL-200') {
            window.location.href = '/'
          } 
        }
      })
    })
  </script>
</body>
</html>